ADF pipelines/pipeline/pl_silver_to_gold.json
{
	"name": "pl_silver_to_gold",
	"properties": {
		"activities": [
			{
				"name": "gold layer table ingestion",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/databricks_notebooks/silver to gold ingestion",
					"baseParameters": {
						"LoadID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"silver_schema": {
							"value": "@pipeline().parameters.metadata_lookup.silver_schema",
							"type": "Expression"
						},
						"silver_table": {
							"value": "@pipeline().parameters.metadata_lookup.silver_tbl",
							"type": "Expression"
						},
						"gold_schema": {
							"value": "@pipeline().parameters.metadata_lookup.gold_schema",
							"type": "Expression"
						},
						"gold_table": {
							"value": "@pipeline().parameters.metadata_lookup.gold_tbl",
							"type": "Expression"
						},
						"source": {
							"value": "@pipeline().parameters.metadata_lookup.source_ref_id",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks_compute",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "gold layer table ingestion failure log",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "gold layer table ingestion",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/databricks_notebooks/log_record_tbl_insert",
					"baseParameters": {
						"env": {
							"value": "@pipeline().globalParameters.env",
							"type": "Expression"
						},
						"pipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"logMessage": {
							"value": "@concat('Failed to ingest records in gold layer table ',pipeline().parameters.metadata_lookup.gold_tbl)",
							"type": "Expression"
						},
						"status": {
							"value": "@concat('Error: ',activity('gold layer table ingestion').Error.message)",
							"type": "Expression"
						},
						"triggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"loadId": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"logTimeStamp": {
							"value": "@formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyy-MM-dd HH:mm:ss')\n\n",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks_compute",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "gold layer table ingestion success log",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "gold layer table ingestion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/databricks_notebooks/log_record_tbl_insert",
					"baseParameters": {
						"env": {
							"value": "@pipeline().globalParameters.env",
							"type": "Expression"
						},
						"pipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"logMessage": {
							"value": "@concat('Inserted ',activity('gold layer table ingestion').output.runOutput,' records in gold layer table ',pipeline().parameters.metadata_lookup.gold_tbl)",
							"type": "Expression"
						},
						"status": {
							"value": "success",
							"type": "Expression"
						},
						"triggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"loadId": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"logTimeStamp": {
							"value": "@formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyy-MM-dd HH:mm:ss')\n\n",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks_compute",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"metadata_lookup": {
				"type": "object"
			},
			"pipeline_start_time": {
				"type": "string"
			}
		},
		"annotations": []
	}
}